www/milestones/2/rssfeeds/rss.schema-java.net.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Marcello de Sales (HOME) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="rss.schema-java.net1.xsd"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="rss">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="channel"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pubDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mon, 20 Oct 2008 07:00:00 GMT"/>
				<xs:enumeration value="Sun, 19 Oct 2008 07:00:00 GMT"/>
				<xs:enumeration value="Wed, 22 Oct 2008 07:00:00 GMT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="link" type="xs:anyURI"/>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
				<xs:element ref="description"/>
				<xs:element ref="pubDate"/>
				<xs:element ref="author"/>
				<xs:element ref="guid"/>
				<xs:element ref="dc:creator"/>
				<xs:element ref="dc:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="guid" type="xs:anyURI"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="channel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="link"/>
				<xs:element ref="description"/>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Andres Ardila"/>
				<xs:enumeration value="Dimdim Invitations"/>
				<xs:enumeration value="Marcello Sales"/>
				<xs:enumeration value="Marilyne Mendolla"/>
				<xs:enumeration value="gurdeep singh"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
